<%= link_to 'See All the Jokes', comedies_path %>  

<%= link_to 'Edit this Joke', edit_path(@one_joke) %>

<h1>Joke <%= @one_joke.id %></h1>
<h3><%= @one_joke.joke %></h3>
<h3><%= @one_joke.punch_line %></h3>

<%= button_to 'Delete this joke', destroy_path(@one_joke), method: :delete %>